<!--
  File: src/components/analog-inputs/analog-inputs.component.html
  Project: fireCNC
  Author: Mark Dyer
  Location: Blenheim, New Zealand
  Contact: intelliservenz@gmail.com

  Description:
  Template for the Analog Inputs component. Renders the UI with status
  indicators for each of the 4 analog inputs.
-->
@if (visibleInputs().length > 0) {
  <div class="grid grid-cols-2 gap-x-6 gap-y-6">
    @for(input of visibleInputs(); track input.id) {
      <div class="flex flex-col space-y-2">
        <div class="flex justify-between items-baseline">
            <span class="font-semibold text-gray-400 text-sm">{{ input.name }}</span>
            <span class="font-mono text-gray-300 text-sm">{{ input.value }}</span>
        </div>
        <div class="w-full bg-gray-700 rounded-full h-2.5">
          <div class="bg-cyan-500 h-2.5 rounded-full" [style.width.%]="input.percent"></div>
        </div>
      </div>
    }
  </div>
} @else {
  <div class="text-center text-gray-500 text-sm">
    No analog inputs are enabled.
  </div>
}
