<main class="flex-grow flex flex-col">
  <div class="flex flex-col sm:flex-row justify-between sm:items-center mb-4 gap-4">
    <h3 class="text-xl font-bold text-gray-300 flex items-center">
      <i class="fa-solid fa-receipt mr-3 text-orange-400"></i>
      Application Rebuild Recipe
    </h3>
    <a routerLink="/information-landing" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-6 rounded-lg transition-colors duration-200">
      Back
    </a>
  </div>
  <div class="flex-grow bg-gray-900 border border-gray-700 rounded-lg shadow-lg flex flex-col overflow-hidden">
    <div class="p-4 border-b border-gray-700 text-gray-400 font-mono bg-gray-800/50">/src/recipe.txt</div>
    <div class="flex-grow p-4 overflow-y-auto">
      <pre class="whitespace-pre-wrap text-gray-300 text-sm font-sans">{{ recipe() }}</pre>
    </div>
  </div>
</main>
